<div class="d-flex justify-content-between mt-3" *ngIf="hydraView">
  <button class="btn btn-success"
          (click)="emitUrl(hydraView['hydra:first'])"
  >
    First
  </button>
  <button class="btn btn-primary"
          (click)="emitUrl(hydraView['hydra:previous'])"
          [disabled]="hydraView['hydra:previous'] === undefined"
  >
    Previous
  </button>
  <button class="btn btn-warning"
          (click)="emitUrl(hydraView['hydra:next'])"
          [disabled]="hydraView['hydra:next'] === undefined"
  >
    Next
  </button>
  <button class="btn btn-danger"
          (click)="emitUrl(hydraView['hydra:last'])"
  >
    Last
  </button>
</div>
