
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="row ms-2">
        <div class="col-8">
          <input class="form-control" name="path" [(ngModel)]="path">
        </div>
        <div class="col-4">
          <button [routerLink]="path" class="btn btn-primary">Go to</button>
        </div>
      </div>
      <button class="btn btn-danger" (click)="addCounter()">Add Die Counter</button>
      <p>{{dieCounter}}</p>
      <a class="navbar-brand" routerLink="chess">Chess</a>
      <a class="navbar-brand" routerLink="">Les Accounts</a>
      <a class="navbar-brand" routerLink="game">Les jeux</a>
    </div>
  </nav>
</header>
