
<div class="container" *ngIf="apiResults">

  <!-- paginator est un component fille de account-index (mère) -->
  <!-- eventEmitterUrlClicked => Output depuis la fille -->
  <!-- on doit passer l'information à une fonction de la classe mère -->
  <!-- qui prend un paramètre du même type déclaré dans l'EventEmitter de la fille -->
  <!-- ici : string ($event sera donc de type string) -->
  <app-paginator  [hydraView]="apiResults['hydra:view']"
                  (eventEmitterUrlClicked)="updateResult($event)"
  ></app-paginator>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          Nom
        </th>
        <th>
          Email
        </th>
        <th>
          Pseudo
        </th>
        <th>
          Porte-feuille
        </th>
        <th>
          Nombre de jeux
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of apiResults['hydra:member']"
          routerLink="account/{{account.id}}/detail/{{account.name}}"
          class="router-link"
      >
        <td>{{account.name}}</td>
        <td>{{account.email}}</td>
        <td>{{account.nickname}}</td>
        <td>{{account.wallet}}€</td>
        <td>{{account.libraries.length}}</td>
      </tr>
    </tbody>
  </table>

  <app-paginator  [hydraView]="apiResults['hydra:view']"
                  (eventEmitterUrlClicked)="updateResult($event)"
  ></app-paginator>

</div>



<!--<div class="d-flex justify-content-between mt-3">-->
<!--  <button class="btn btn-success"-->
<!--          (click)="updateResult(apiResults['hydra:view']['hydra:first'])"-->
<!--  >-->
<!--    First-->
<!--  </button>-->
<!--  <button class="btn btn-primary"-->
<!--          (click)="updateResult(apiResults['hydra:view']['hydra:previous'])"-->
<!--          [disabled]="apiResults['hydra:view']['hydra:previous'] === undefined"-->
<!--  >-->
<!--    Previous-->
<!--  </button>-->
<!--  <button class="btn btn-warning"-->
<!--          (click)="updateResult(apiResults['hydra:view']['hydra:next'])"-->
<!--          [disabled]="apiResults['hydra:view']['hydra:next'] === undefined"-->
<!--  >-->
<!--    Next-->
<!--  </button>-->
<!--  <button class="btn btn-danger"-->
<!--          (click)="updateResult(apiResults['hydra:view']['hydra:last'])"-->
<!--  >-->
<!--    Last-->
<!--  </button>-->
<!--</div>-->
