

<div class="container">
  <div *ngIf="account; else noAccount">
    <h1>Compte de {{ account.name }}</h1>
    <div [class.d-none]="onEdit">
      <p>Pseudo : {{ account.nickname }}</p>
      <p>Email : {{ account.email }}</p>
      <p>Porte-feuille : {{ account.wallet }}€</p>
    </div>

    <button class="btn btn-warning" (click)="onEdit = !onEdit">
      Modifier
    </button>
    <div [class.d-none]="!onEdit">
      <app-account-form [account]="account"></app-account-form>
    </div>
  </div>
</div>

<ng-template #noAccount>
  <p class="my-2">Aucun compte n'existe pour l'id {{paramId}}</p>
</ng-template>
